html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0ebf8;
    box-sizing: border-box;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5{
    color: #333;
}

p,label{
    color: #444;
}

input{
    border: 1px solid transparent;
    border-bottom: 1px solid #ccc;
    padding: 10px 0px;
}

input[type="text"], input[type="number"], input[type="date"], input[type="file"]{
    width: 400px;
}

textarea{
    padding: 10px 5px;
    width: 400px;
}

.header{
    height: 180px;
    padding: 20px;
    background-color: #673ab7;
}

.header h3{
    color: #fff;
    margin-top: 25px;
    text-align: center;
}

.form-body{
    padding: 30px;
}

.form-title{
    margin: 0;
}

.required-field{
    color: #D80835;
}

.box-input{
    margin-bottom: 30px;
}

.block{
    display: block;
}

.optional_box{
    display: inline-block;
    margin-right: 30px;
}

.option_list{
    padding-left: 0;
}


.optional_list li{
    list-style: none;
}

.btn-submit{
    background-color: #673ab7;
    color: #fff;
    border: 2px solid transparent;
    width: 150px;
    height: 50px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s;
}

.btn-submit:hover{
    background-color: #fff;
    border-color: #673ab7;
    color: #673ab7;
}

.form-container{
    background-color: #fff;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -62px;
   
}

.form-header{
    border-bottom: 1px solid #DFDFDF;
    height: 45px;
}

.form-header p{
    color: #673ab7;
    border-bottom: 2px solid #673ab7;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    height: 45px;
    line-height: 45px;
}